:root {
  --bg: white;
  --bars-bg: hsl(195, 100%, 98.5%);
  --chat-bg: rgb(250, 250, 250);
  --text: black;
  --border: #0001;
  --bubble-left: hsl(195, 89.43%, 95.27%);
  --bubble-left-border: var(--border);
  --bubble-left-text: #0f1011;
  --bubble-right: hsl(195, 100%, 41.75%);
  --bubble-right-border: var(--border);
  --bubble-right-text: #f0f6f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --bars-bg: hsl(195, 70.94%, 9.07%);
    --chat-bg: rgb(20, 20, 20);
    --text: white;
    --border: #fff3;
    --bubble-left: hsl(195, 0%, 15%);
    --bubble-left-border: var(--border);
    --bubble-left-text: #c6eafb;
    --bubble-right: hsl(195, 100%, 22.75%);
    --bubble-right-border: var(--border);
    --bubble-right-text: #f0f6f9;
  }
}

.drawer-container,
.drawer-container * {
  min-width: 0px;
}
.drawer,
.chat-container {
  width: 100%;
  height: 100%;
  transition: left 0.2s;
  top: 0;
  left: 0;
  position: absolute;
}
.drawer {
  left: -100%;
}
.drawer-open .drawer {
  left: 0;
}
.chat-container {
  left: 0%;
}
.drawer-open .chat-container {
  left: 100%;
}
.drawer-container {
  position: relative;
  width: 50svw;
  height: 60svh;
  justify-content: flex-start;
  border: 1px solid var(--border);
  border-radius: 20px;
  overflow: hidden;
}
.chat-container {
  display: flex;
  flex-direction: column;
  background: var(--chat-bg);
}
.messages-container {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  overflow-y: auto; /* Allows scrolling */
}
.search-container {
  height: 3em;
  flex-shrink: 0;
  padding: 0 1em;
  display: flex;
  align-items: center;
  border: 0 solid var(--border);
  border-bottom-width: 1px;
}
.search-container input {
  font-size: 1em;
}
.header-container {
  height: 3em;
  flex-shrink: 0;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0 solid var(--border);
  border-bottom-width: 1px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text);
}
.header-container::after {
  /* This is a placeholder to make sure the title is centered. */
  content: "< invisible placeholder >";
  opacity: 0;
  flex-shrink: 100;
  pointer-events: none;
  max-width: 24px;
  max-height: 1px;
  overflow: hidden;
}
.header-container .name {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
.header-container .back {
  flex-shrink: 0;
}
.header-container,
.input-container {
  background-color: var(--bars-bg);
}
.input-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  border: 0 solid var(--border);
  border-top-width: 1px;
}
.input-container textarea {
  padding: 1.1em 1em;
  font-size: 1em;
  flex-grow: 1;
  padding-right: 0.1em;
  color: var(--text);
  resize: none;
  line-height: 1.3;
  max-height: 20svh;
  overflow-y: auto;
}
.input-container .button path {
  fill: var(--bubble-right-text);
  opacity: 0.8;
}
.input-container .button-container {
  height: 3.5em;
  aspect-ratio: 1;
  padding: 0.4em;
  flex-shrink: 0;
}
.input-container .button {
  height: 100%;
  aspect-ratio: 1;
  border: none;
  background: var(--bubble-right);
  border: 1px solid var(--bubble-right-border);
  border-radius: 100%;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-bubble {
  background-color: var(--bubble-left);
  border: 1px solid var(--bubble-left-border);
  color: var(--bubble-left-text);
  align-self: flex-start;
  padding: 1em 1.5em;
  margin: 0.1em 0.15em;
  border-radius: 15px;
  max-width: 95%;
  min-width: 50px;
  overflow-wrap: break-word;
  line-height: 1.3;
}
.chat-bubble.top-gap {
  margin-top: 1em;
}
.chat-bubble a {
  color: inherit;
}
.chat-name {
  padding: 1em 1.1em 0.3em;
  opacity: 0.5;
  text-align: left;
  width: 100%;
}
.chat-name.bubble-right {
  text-align: right;
}
.chat-bubble.bubble-right {
  background-color: var(--bubble-right);
  border: 1px solid var(--bubble-right-border);
  color: var(--bubble-right-text);
  align-self: flex-end;
}
.chat-row {
  padding: 1em 1%;
  padding-left: 1em;
  border: 0 solid var(--border);
  border-bottom-width: 1px;
  cursor: pointer;
  display: flex;
}
.chat-row path {
  fill: var(--text);
}
.chat-row .name,
.header-container .name {
  font-weight: 600;
  font-size: 1.1em;
  padding-bottom: 0.4em;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: normal;
}
.chat-row.chat-selected {
  background-color: var(--bubble-left);
  color: var(--bubble-left-text);
}
.chat-row .date {
  font-size: 0.9em;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5em;
}
.chat-row .truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: normal;
  padding-right: 0.75em;
}
.drawer {
  overflow-y: auto; /* Allows scrolling */
}
.drawer-wide {
  display: flex;
}
.drawer-wide .header-container .back {
  opacity: 0;
  pointer-events: none;
}
.drawer-wide .drawer {
  position: initial;
  left: 0;
  flex: 1;
  min-width: 250px;
  border: 0 solid var(--border);
  border-right-width: 2px;
}
.drawer-wide .chat-container {
  position: initial;
  left: 0;
  flex: 2;
}
.date-row {
  opacity: 0.5;
  width: 100%;
  text-align: center;
  padding: 1em 0 0.5em;
}
